body{
	background-color: rgb(13, 98, 23);
	color: rgb(170, 170, 170);
	font-family: cursive;
}

h1{
	text-align: center;
}

header{
	text-align: center;
	margin: 0px auto;
}

a{
	color: rgb(170, 170, 170);
	text-decoration: none;
	margin: 1%;
}

table{
	margin: 0px auto;
	text-align: center;
	border: 1px solid rgb(170, 170, 170);
}

input{
	background-color: rgb(13, 98, 23);
	color: rgb(170, 170, 170);
	font-family: cursive;
	border-color: rgb(170, 170, 170);
}

input::placeholder{
	color: rgb(170, 170, 170);
	font-family: cursive;
};